body{
                
    background-image: url('backgroundimage3.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    

}
.main{
    top: 45%;
    left: 45%;
    position:absolute;
}
.sub{
    padding:60px 40px 50px 40px;
    background:#c51d1d;
    border-radius: 15px;

}